@charset "utf-8";

/*@media screen and (min-width:960px) {
    .pos-f-t {
        display: none;

    }
}*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: 'Arial', sans-serif !important;
}
.navbar {
    background-color: #19CBCB;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler.active {
    border: none;
}

.fas.fa-bars {
    font-size: 2em;
    color: white;
}

.fas.fa-angle-left {
    font-size: 2em;
    color: white;
}

.fas.fa-angle-down {
    font-size: 2em;
    color: white;
}

.nav-link {
    font-weight: bolder;
    color: white;
}

.nav-link:hover {
    opacity: 0.5;
    color: white;
}

.collapse.navbar-collapse {
    overflow-x: hidden;
}

.fa-angle-down {
    display: none;
}

.flecha[aria-expanded=true] .fa-angle-left {
    display: none;
}

.flecha[aria-expanded=true] .fa-angle-down {
    display: block;
}
