@charset "utf-8";

@font-face {
    font-family: baltar;
    src: url(../webfonts/baltar.ttf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: 'Arial', sans-serif !important;
}

.row.flex-row.flex-nowrap {
    overflow-x: scroll;
}
.row.flex-row.flex-nowrap::-webkit-scrollbar { 
    display: none; 
}

.navbar {
    padding: 8px 0;
    background-color: #19CBCB;
}

.navbar.musica {
    background-color: #CE3EB7;
}

.navbar.cinema {
    background-color: #5F778A;
}

.navbar.series {
    background-color: #E1BE82;
}

.navbar.animacoes {
    background-color: #8BCCF2;
}

.navbar.literatura {
    background-color: #DE813A;
}

.navbar.jogos {
    background-color: #78BB78;
}

.navbar.moda {
    background-color: #FF3D4A;
}

.nav-item.row {
    padding-left: 12px;
    padding-top: 8px;
}

.navbar.rolagem {
    padding: 0 16px;
}
.navbar.rolagem .nav-item {
    padding-top: 0;
}

.ul-inside-collapse {
    background-color: rgba(0,0,0,0.25);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler.active {
    border: none;
}

button:focus {
    outline: none;
}

.fas.fa-bowling-ball {
    font-size: 2em;
    color: white;
}

.fas.fa-bars {
    font-size: 2em;
    color: white;
}

.fas.fa-angle-left {
    font-size: 2em;
    color: white;
}

.fas.fa-angle-down {
    font-size: 2em;
    color: white;
}

.nav-link.h4 {
    font-weight: bolder;
    color: white;
}

.nav-link:hover {
    opacity: 0.5;
    color: white;
}

.collapse.navbar-collapse {
    overflow-x: hidden;
}

.trespontinhos{
    font-size: 2em;
    color: white;
    padding-right: 8px;
}

.fa-angle-down {
    display: none;
}

.flecha[aria-expanded=true] .fa-angle-left {
    display: none;
}

.flecha[aria-expanded=true] .fa-angle-down {
    display: block;
}

.navbar.rolagem {
    padding: 0;
}

.navbar.rolagem ul {
    margin: 0;
}
    
.navbar.rolagem ul li a {
    color: white;
    padding: 16px 12px;
    margin: 0;
    white-space: nowrap;
}

.nav-link.h4.align-baseline {
    margin-bottom: 0;
}

.navbar-expand a {
    padding: 0;
}

.indie-brand {
    margin: auto 4px;
    font-family: baltar;
    color: white;
    
}