@charset "utf-8";

@font-face {
    font-family: baltar;
    src: url(../webfonts/baltar.ttf);
}

html {
    background-color: #343a40 !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: 'Arial', sans-serif !important;
}

.row.flex-row.flex-nowrap {
    overflow-x: scroll;

}
.row.flex-row.flex-nowrap::-webkit-scrollbar { 
    display: none;

}

.navbar {
    padding: 8px 0;
    background-color: #19CBCB;
}

.musica .navbar {
    background-color: #CE3EB7;
}

.cinema .navbar {
    background-color: #5F778A;
}

.series .navbar {
    background-color: #E1BE82;
}

.animacoes .navbar {
    background-color: #8BCCF2;
}

.literatura .navbar {
    background-color: #DE813A;
}

.jogos .navbar {
    background-color: #78BB78;
}

.moda .navbar {
    background-color: #FF3D4A;
}

.nav-item.row {
    padding-left: 12px;
    padding-top: 8px;
}


.navbar.rolagem .nav-item {
    padding-top: 0;
}

.ul-inside-collapse {
    background-color: rgba(0,0,0,0.25);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler.active {
    border: none;
}

button:focus {
    outline: none;
}

.fas.fa-bowling-ball {
    font-size: 2em;
    color: white;
}

.fas.fa-bars {
    font-size: 2em;
    color: white;
}

.fas.fa-angle-left {
    font-size: 2em;
    color: white;
}

.fas.fa-angle-down {
    font-size: 2em;
    color: white;
}

.fab.fa-facebook {
    font-size: 2em;
    color: white;
}

.fab.fa-instagram {
    font-size: 2em;
    color: white;
}

.fab.fa-twitter-square {
    font-size: 2em;
    color: white;
}

.fab.fa-youtube-square {
    font-size: 2em;
    color: white;
}

.nav-link.h4 {
    font-weight: bolder;
    color: white;
}

.nav-link:hover {
    opacity: 0.5;
    color: white;
}

.collapse.navbar-collapse {
    overflow-x: hidden;
}

.trespontinhos{
    font-size: 2em;
    color: white;
    padding-right: 8px;
}

.fa-angle-down {
    display: none;
}

.flecha[aria-expanded=true] .fa-angle-left {
    display: none;
}

.flecha[aria-expanded=true] .fa-angle-down {
    display: block;
}

.navbar.rolagem {
    padding: 0;
    overflow-y: hidden;
    height: 60px;
}

.navbar.rolagem ul {
    margin: 0;
}

.navbar.rolagem::before {
    pointer-events: none;
    content: "";
    display: block;
    margin: 0;
    position: absolute;
    left: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to right,#19CBCB, transparent);
}

.navbar.rolagem::after {
    pointer-events: none;
    content: "";
    display: block;
    margin: 0;
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to left, #19CBCB, transparent);
}

.musica .navbar.rolagem::before {
    background: linear-gradient(to right,#CE3EB7, transparent); 
}

.musica .navbar.rolagem::after {
    background: linear-gradient(to left,#CE3EB7, transparent); 
}

.cinema .navbar.rolagem::before {
    background: linear-gradient(to right,#5F778A, transparent); 
}

.cinema .navbar.rolagem::after {
    background: linear-gradient(to left,#5F778A, transparent); 
}

.series .navbar.rolagem::before {
    background: linear-gradient(to right,#E1BE82, transparent); 
}

.series .navbar.rolagem::after {
    background: linear-gradient(to left,#E1BE82, transparent); 
}

.animacoes .navbar.rolagem::before {
    background: linear-gradient(to right,#8BCCF2, transparent); 
}

.animacoes .navbar.rolagem::after {
    background: linear-gradient(to left,#8BCCF2, transparent); 
}

.literatura .navbar.rolagem::before {
    background: linear-gradient(to right,#DE813A, transparent); 
}

.literatura .navbar.rolagem::after {
    background: linear-gradient(to left,#DE813A, transparent); 
}

.jogos .navbar.rolagem::before {
    background: linear-gradient(to right,#78BB78, transparent); 
}

.jogos .navbar.rolagem::after {
    background: linear-gradient(to left,#78BB78, transparent); 
}

.moda .navbar.rolagem::before {
    background: linear-gradient(to right,#FF3D4A, transparent); 
}

.moda .navbar.rolagem::after {
    background: linear-gradient(to left,#FF3D4A, transparent); 
}

.navbar.rolagem ul li a {
    color: white;
    padding: 16px 12px;
    margin: 0;
    white-space: nowrap;
}

.navbar-expand a {
    padding: 0;
}

.indie-brand {
    font-family: baltar;
}

.card::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,black,rgba(0,0,0,0.95),rgba(0,0,0,0.85),rgba(0,0,0,0.70),rgba(0,0,0,0.50),rgba(0,0,0,0.30),rgba(0,0,0,0.15),rgba(0,0,0,0.10),rgba(0,0,0,0.05),transparent);
}

.feed .card::before {
    border-radius: 0.25rem !important;
}

.carousel-link {
    color: white;
}

.carousel-link:hover {
    color: white;
    text-decoration: none;
}

.h1 , .h2 , .h3 , .h4 , .h5 , .h6 , .feed article div a {
    transition: 0.15s ease-in-out;
}

.breadcrumb li a{
    color: #6C757D;
}

.carousel-link:hover h5 , .breadcrumb li a , .aside-content {
    color: #19CBCB;
}

.musica .carousel-link:hover h5 , .musica .breadcrumb li a , .musica .aside-content {
    color: #CE3EB7;
}

.cinema .carousel-link:hover h5 , .cinema .breadcrumb li a , .cinema .aside-content {
    color: #5F778A;
}

.series .carousel-link:hover h5 , .series .breadcrumb li a , .series .aside-content {
    color: #E1BE82;
}

.animacoes .carousel-link:hover h5 , .animacoes .breadcrumb li a , .animacoes .aside-content {
    color: #8BCCF2;
}

.literatura .carousel-link:hover h5 , .literatura .breadcrumb li a , .literatura .aside-content {
    color: #DE813A;
}

.jogos .carousel-link:hover h5 , .jogos .breadcrumb li a , .jogos .aside-content {
    color: #78BB78;
}

.moda .carousel-link:hover h5 , .moda .breadcrumb li a , .moda .aside-content {
    color: #FF3D4A;
}

.aside-content:hover p {
    color: #6c757d !important;
}

a.aside-content:hover , .aside-content p:hover {
    text-decoration: none !important;
    color: white !important;
}

.desk-indicators {
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: inherit;
}
.desk-indicators::-webkit-scrollbar { 
    display: none;
}

.footer-text {
    text-transform: none;
    color: white;
    opacity: 0.5;
}

.footer-link {
    font-weight: bolder;
    color: #00AED2;
}

.footer-link:hover {
    text-decoration: none;
}

.breadcrumb li a:hover {
    text-decoration: none;
}

.login-dropdown {
    min-width: 300px;
    margin-top: 11px;
    margin-right: -42px;
    background-color: rgb(25, 26, 27);
}

.lang-dropdown button:hover h6 {
    color: rgb(25, 26, 27) !important;
}

.lang-dropdown.show {
    margin-top: 11px;
    margin-right: -1px;
    background-color: rgb(25, 26, 27);
}

.carousel-indicators {
    top: 0;
}

.carousel-indicators li {
    text-indent: 0;
    height: 100px;
}

.carousel-indicators li h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
    display: block;
    overflow: hidden;
    word-break: break-all;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .carousel-indicators li h5 {
        white-space: normal;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        }
}


.carousel-indicators li:hover {
    background-color: rgba(0,0,0,0.25) !important;
}

.carousel-indicators li.active {        
    background-color: #19CBCB !important;
    border-color: #19CBCB;
}

.musica .carousel-indicators li.active {
    background-color: #CE3EB7 !important;
    border-color: #CE3EB7;
}

.cinema .carousel-indicators li.active {
    background-color: #5F778A !important;
    border-color: #5F778A;
}

.series .carousel-indicators li.active {
    background-color: #E1BE82 !important;
    border-color: #E1BE82;
}

.animacoes .carousel-indicators li.active {
    background-color: #8BCCF2 !important;
    border-color: #8BCCF2;
}

.literatura .carousel-indicators li.active {
    background-color: #DE813A !important;
    border-color: #DE813A;
}

.jogos .carousel-indicators li.active {
    background-color: #78BB78 !important;
    border-color: #78BB78;
}

.moda .carousel-indicators li.active {
    background-color: #FF3D4A !important;
    border-color: #FF3D4A;
}

.feed article div a:hover , .feed article a:hover h3 , .perfil-link:hover {
    color: #19CBCB !important;
    text-decoration: none;
}

.musica .feed article div a:hover , .musica .feed article a:hover h3 {
    color: #CE3EB7 !important;
}

.cinema .feed article div a:hover , .cinema .feed article a:hover h3 {
    color: #5F778A !important;
}

.series .feed article div a:hover , .series .feed article a:hover h3 {
    color: #E1BE82 !important;
}

.animacoes .feed article div a:hover , .animacoes .feed article a:hover h3 {
    color: #8BCCF2 !important;
}

.literatura .feed article div a:hover , .literatura .feed article a:hover h3 {
    color: #DE813A !important;
}

.jogos .feed article div a:hover , .jogos .feed article a:hover h3 {
    color: #78BB78 !important;
}

.moda .feed article div a:hover , .moda .feed article a:hover h3 {
    color: #FF3D4A !important;
}

@media (min-width: 768px) {
    .news-title-link {
        font-size: 1.5rem;
    }
    .news-title-link-b {
        font-size: 1.75rem;
    }
}

.news-header::before {
    content: "";
    display: block;
    vertical-align: middle;
    margin: auto 8px auto 0;
    border-top: solid 1px rgba(0,0,0,0.1);
    width: 30px;
}

.news-header::after {
    content: "";
    display: block;
    vertical-align: middle;
    margin: auto 0 auto 8px;
    border-top: solid 1px rgba(0,0,0,0.1);
    flex: auto;
}


.spotify {
    height: 174px !important;   
}
@media (min-width: 375px) {
    .spotify {
        height: 204px !important;
    }
}
@media (min-width: 425px) {
    .spotify {
        height: 231px !important;
    }
}
@media (min-width: 576px) {
    .spotify {
        height: 293px !important;
    }
}
@media (min-width: 576px) {
    .spotify {
        min-height: 347px !important;
    }
}

@media (max-width: 767px) {
    .feed .card {
        border-radius: 0 !important;
    }
    .feed .card .card-img {
        border-radius: 0 !important;
    }
    .feed .card::before {
        border-radius: 0 !important;
    }
}

@media (min-width: 992px) {
    #carouselIndicators {
        max-height: 347px !important;
    }
    .spotify {
        height: 347px !important;
    }
}

@media (min-width: 1200px) {
    #carouselIndicators {
        max-height: 413px !important;
    }
    .spotify {
        height: 413px !important;
    }
}
.bg-dark-indie {
    background-color: rgb(30, 35, 40) !important;
}
.bg-gradient-0 {
    background-image: linear-gradient(to left,#FFFFFF,#DADFE2) !important;
    box-shadow: 0 5px 7px rgb(0,0,0,0.5);
}
.bg-gradient-1 {
    background-image: linear-gradient(to right,#FFFFFF,#DADFE2) !important;
    box-shadow: 0 5px 7px rgb(0,0,0,0.5);
}
@media (max-width: 425px) {
    .perfil .h3 {
        font-size: 1rem;
    }
    
}

.perfis {
    margin-bottom: -16px;
}

.perfis section::before {
    top: 0;
    width: 100%;
    z-index: 999;
    content: "";
    height: 16px;
    background-image: linear-gradient(to bottom,rgb(0,0,0,0.05),transparent,transparent,transparent);
}

#perfil0::before {
    background-image: none;
}
textarea {
    resize: none;
}

.artistas a:hover {
    text-decoration: none !important;
}
.artistas a:hover .h4 {
    color: #CE3EB7 !important;
}

@media (min-width: 767px) {
    .album {
        height: 248px;
    }
}